# 숫자형(정수, 실수)

In [22]:
.5

0.5

In [23]:
0xAF34 # 16진수 0x

44852

In [24]:
0o73 #8진수 0o

59

In [25]:
2*5

10

In [26]:
10/4 # 나누기

2.5

In [27]:
10//4 # 몫

2

In [28]:
10%3 # 나머지

1

In [29]:
num = 10
# 3의 배수인지 구할 때
(num % 3) == 0

False

# 논리형(bool)
- 값 : True, False
- 0, "", None이 False

In [30]:
bool(10)

True

In [31]:
bool(-44)

True

In [32]:
bool(0)

False

In [33]:
bool("a")

True

In [34]:
bool("")

False

In [35]:
bool(" ")

True

In [36]:
name = input("이름 : ")

이름 :

In [37]:
bool(name)

False

In [40]:
name if name else "이름을 입력하세요"

'이름을 입력하세요'

In [41]:
# 비교 연산
#### 항상 왼쪽 먼저

10 > 5

True

In [43]:
age = 10
age > 19

False

In [45]:
age = 20
name = "홍길동"

In [49]:
# 나이가 19세 이상이고 이름은 홍길동인가?
(age >= 19) & (name == "홍길동")
# &: 피연산자 둘다 True일 떄만 True. 하나라도 False면 False
# & 연산자는 양쪽에 괄호를 넣어주는게 오류날 확률이 적다.

True

In [50]:
age >= 19 and name == "홍길동"

True

In [52]:
age >= 19 and name == "이순신"

False

In [54]:
age >= 19 or name == "이순신" # 둘 중 하나만 True이면 True

True

In [55]:
(age >= 19) | (name == "이순신")

True

In [56]:
# 나이가 20세 이상이 아닌가>
not age >= 20

False

In [57]:
age < 19

False

In [69]:
a = """asdfasdfasdfadf
asdfasdfasdfasdf
asdfasdfasdfasfd
"""
print(a)

asdfasdfasdfadf
asdfasdfasdfasdf
asdfasdfasdfasfd

In [64]:
a = "안녕하세요"
a[1:4]

'녕하세'

In [70]:
print(1+1)
print(2+2)
print(3+3)

2
4
6

In [221]:
print(10) # 10 + 엔터
print("a")
print("b", end='-') # end: 출력 후 뒤어 붙이는 것을 지정
print("c")

print("b", end= '-')

10
a
b-c
b-

In [76]:
# 동시에 여러 값 출력
print("a", "b", "c", "d", 20, 3)
name = '홍길동'
print('이름 : ', name)

a b c d 20 3
이름 :  홍길동

In [78]:
print("a", "b", "c", sep='-') # sep: 출력값들 구분자 지정(생략시 공백)
print("a", "b", "c", sep='--')
print("a", "b", "c", sep='#')

a-b-c
a--b--c
a#b#c

In [79]:
len(name)

3

In [224]:
"he" in "hello" # hello 안에 he가 있냐

True

In [81]:
"서초구" in "서울시 강남구"

False

In [82]:
"강남구" in "서울시 강남구"

True

In [83]:
"강남구" not in "서울시 강남구"

False

In [85]:
"*"*50

'**************************************************'

In [89]:
print('ssss')
print('-'*20)
print('dddd')

ssss
--------------------
dddd

In [87]:
"이름 : " + name

'이름 : 홍길동'

In [226]:
age = 20
# "나이 : " + age

In [88]:
age = 20
"나이 : " + str(age) #str(문자열) +int(정수형) - 에러, 같은 타입만 +가능

'나이 : 20'

## Indexing, slicing
- indexing : 여러개 중 하나 조회
- slicing : 범위로 조회

- index : 각 원소를 구분하는 식별자로 0부터 1씩 증가하는 값 (뒤에서부터 : -1에서 -1씩 증가하는)

In [92]:
s = "0123456789" 
s

'0123456789'

In [93]:
s[0] #첫번째 글자

'0'

In [94]:
print(s[0], s[1], s[3])

0 1 3

In [98]:
print(s[-1], s[-5])

9 5

In [99]:
s

'0123456789'

In [101]:
s[0:5] #시작 ~ 종료 -1

'01234'

In [102]:
s[:5]

'01234'

In [103]:
s[5:]

'56789'

In [104]:
s[::3]

'0369'

In [105]:
s[2:-2]

'234567'

In [108]:
s[9:0:-1]

'987654321'

# 문자열 formatting

In [129]:
name = "정원구"
age = 27
address = "서울시 동작구 상도동 134-299"

In [130]:
info = "이름 : " + name + ", 나이: "+str(age)+", 주소: "+address
info

'이름 : 정원구, 나이: 27, 주소: 서울시 동작구 상도동 134-299'

In [131]:
info2 = "이름: {}, 나이:{}, 주소: {}".format(name, age, address)
info2

'이름: 정원구, 나이:27, 주소: 서울시 동작구 상도동 134-299'

In [132]:
# 동일한 값을 여러 군데서 사용할 경우 번호 지정해서 사용
info3 = '이름: {0}, 나이: {1}, 주소: {2}, {1}'.format(name, age, address)
info3

'이름: 정원구, 나이: 27, 주소: 서울시 동작구 상도동 134-299, 27'

In [133]:
info4 = '이름: {name}, 나이: {age}, 주소 : {address}'.format(name = name, age = age, address = address)
info4

'이름: 정원구, 나이: 27, 주소 : 서울시 동작구 상도동 134-299'

In [134]:
# 값이 들어갈 부분을 값의 타입과 매칭되는 형식문자를 사용
# %s : 문자열, %d : 정수, %f : 실수, %%: %(% 기호 쓰고 싶을 때)
#넣어줄 값은 서식문자열 % (값, 값, ...)

info5 = "이름: %s, 나이 : %d, 주소 : %s, 키 : %.1f" % (name, age, address, 174.4)
info5

'이름: 정원구, 나이 : 27, 주소 : 서울시 동작구 상도동 134-299, 키 : 175.8'

In [135]:
'%5d' % 10

'   10'

In [136]:
'%-5d' % 10

'10   '

In [140]:
'몸무게:{:.2f}kg, 키:{:.2f}cm'.format(71.5, 174.41)

'몸무게:71.50kg, 키:174.41cm'

In [ ]:
b

In [142]:
# f를 앞에 붙이면서 서식문자열임을 알려줌
# 파이썬 3.6버전에서 추가됨

info6 = f'이름: {name}, 나이: {age}, 주소 : {address}'
info6

'이름: 정원구, 나이: 27, 주소 : 서울시 동작구 상도동 134-299'

# 문자열 메소드

In [145]:
s1 = '     a   '
s1

'     a   '

In [144]:
20
bool(20)
str(20)

True

In [148]:
s1.strip()

'a'

In [150]:
s2 = input("이름:")

이름:

In [152]:
len(s2.strip())

0

In [153]:
name if len(s2.strip()) else "이름을 입력하세요"

'이름을 입력하세요'

In [155]:
s1.count(' ')

8

In [158]:
s3 = 'aabbddeewwqq'
s3.count('q')

2

In [159]:
s3.count('ab')

1

In [163]:
s4 = '사과, 귤, 배, 수박'
s4.split(',') # , 를 기준으로 단어들을 나눈다.(생략하면 공백기준)

['사과', ' 귤', ' 배', ' 수박']

In [201]:
#문자열 
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.

a = "901211-1027213"
#a[0:6]

a_split = a.split('-')
print(a_split[0])

901211

In [202]:
#2.  "안녕하세요" 를 10번 출력하시오.

say_hello = "안녕하세요 "
say_hello *10

#for i (i = i+1, i<10)
#say_hello*i

'안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 '

In [183]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"

TV = "제품명 : %s, 가격 : %d, 제조사 : %s" % (name, price, maker)
print(TV)

제품명 : TV, 가격 : 300000, 제조사 : LG

In [209]:
f'제품명:{name}, 가격 : {price}, 제조사 : {maker}'

'제품명:TV, 가격 : 300000, 제조사 : LG'

In [214]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
"수박"  in fruits

False

In [213]:
"수박있음" if "수박"  in fruits else "수박없음"

'수박없음'

In [194]:
#5. 
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.
str_value.count('a')

9

# 변환함수

In [217]:
num1 = input("num1: ") # input 은 문자열로 인식
num2 = input("num2: ")
num1 + num2

num1: 1
num2: 6

7

In [219]:
num1 = input("num1: ") # input 은 문자열로 인식
num1 = int(num1)

num2 = input("num2: ")
num2 = int(num2)
num1 + num2

num1: 1
num2: 9

10

In [220]:
num1 = input("num1: ") # input 은 문자열로 인식
num1 = float(num1) # 문자열을 실수로 변환

num2 = input("num2: ")
num2 = float(num2)
num1 + num2

num1: 5.5
num2: 7.7

13.2