# 리스트
- 순서가 있는 자료구조
- 순서 : index, index로 원소들을 식별한다

In [1]:
num_list = [10, 20, 30, 40, 50]
num_list

[10, 20, 30, 40, 50]

In [5]:
str_list = ["a", "b", "c", 10, True, False]
str_list

['a', 'b', 'c', 10, True, False]

In [6]:
num_list[0]

10

In [7]:
print(num_list[0], str_list[4])

10 True

In [8]:
len(num_list) # 원소 개수

5

In [10]:
# num_list[20]

In [11]:
num_list[-1]

50

In [12]:
num_list[:3]

[10, 20, 30]

In [14]:
num_list[::2]

[10, 30, 50]

In [15]:
num_list[0] = 1000

In [17]:
num_list

[1000, 20, 30, 40, 50]

In [18]:
num_list[:3] = [1, 2, 3, 4, 5]
num_list

[1, 2, 3, 4, 5, 40, 50]

In [20]:
num_list[::3] = [20, 200, 2000]
num_list

[20, 2, 3, 200, 5, 40, 2000]

# 리스트 연산자

In [2]:
# 리스트 + 리스트
list1 = [10, 20, 30, 40, 50]
list2 = [1, 2, 3, 4, 5]
list2 + list1

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [5]:
# 리스트*정수 : 원소를 반복해서 가지고 있는 새로운 리스트 생성
list4 = list1*5
list4

[10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50]

In [14]:
30 in list1

True

In [7]:
100 in list1

False

In [10]:
100 not in list1

(100, True)

In [15]:
[10, 20] in list1

False

In [16]:
#중첩 리스트 - 리스트가 리스트(자료구조)를 원소로 가질 수 있다.
list5 = [
         [1, 2, 3], 
         [4, 5, 6]
        ]

In [18]:
list5[0]

3

In [20]:
list5[1][2]

6

In [21]:
# 리스트 대입
a, b = [1, 2]
print(a, b)

1 2

In [23]:
l = [10, 20]
print(l[0], l[1])

10 20

In [27]:
num1, num2 = l
num1

10

## 리스트 주요 메소드

In [29]:
# append() : 마지막 원소로 값 추가.
list1

[10, 20, 30, 40, 50]

In [33]:
list1.append(60)
list1

[10, 20, 30, 40, 50, 60, 60, 60, 60]

In [35]:
list1.append(1000)
list1

[10, 20, 30, 40, 50, 60, 60, 60, 60, 1000, 1000]

In [36]:
# insert(index, 값) : 값을 index에 삽입
list1.insert(1,5000)
list1

[10, 5000, 20, 30, 40, 50, 60, 60, 60, 60, 1000, 1000]

In [37]:
# sorted() : 정렬

In [51]:
list6 = [5, 72, 48, 48, 16, 20]
sorted(list6) # 내장함수 - 정렬된 새로운 리스트 반환(원본은 바뀌지 않음)

[5, 16, 20, 48, 48, 72]

In [52]:
list6

[5, 72, 48, 48, 16, 20]

In [53]:
sorted(list6, reverse=True)

[72, 48, 48, 20, 16, 5]

In [54]:
# 메소드 : sort() - 리스트 자체가 변경
list6.sort()
list6

[5, 16, 20, 48, 48, 72]

In [55]:
list6.sort(reverse=True)
list6

[72, 48, 48, 20, 16, 5]

In [56]:
# 리스트 값 삭제 : list.remove(삭제할 값), del list[index]
list6.remove(48)
list6

[72, 48, 20, 16, 5]

In [58]:
del list6[0]
list6

[20, 16, 5]

In [59]:
list6.clear() # 모든 원소 값 삭제
list6

[]

# 튜플(Tuple)
- 순서가 있고 중복된 값(원소)를 허용
- 원소를 변경할 수 없다.

In [60]:
tu1 = ('a', 'b', 'c', 'd')
tu1

('a', 'b', 'c', 'd')

In [61]:
tu2 = '가', '나', '다'
tu2

('가', '나', '다')

In [62]:
type(tu2)

tuple

In [63]:
1, 2, 3

(1, 2, 3)

In [64]:
tu3 = (1, 2, 3, 1, 2, 3) #같은 값을 가질 수 있다.
tu3

(1, 2, 3, 1, 2, 3)

In [66]:
# 각 원소들을 조회 : indexing/slicing
print(tu3[0], tu3[3], tu3[4])

1 1 2

In [67]:
tu3[:3]

(1, 2, 3)

In [68]:
tu3[::3]

(1, 1)

In [70]:
# tu3[0] = 100

# 튜플 연산자

In [71]:
tu1 + tu2 + tu3 # 서로 다른 타입 저장할 수 있음

('a', 'b', 'c', 'd', '가', '나', '다', 1, 2, 3, 1, 2, 3)

In [72]:
tu1

('a', 'b', 'c', 'd')

In [73]:
tu1*3

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [74]:
'a' in tu1

True

In [76]:
'가' in tu1, '가' not in tu1

(False, True)

In [78]:
a = (10,)
type(a)

tuple

In [79]:
b = 20, 
print(type(b), b)

<class 'tuple'> (20,)

## 튜플대입

In [80]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [81]:
x = 100
y = 200

In [82]:
x, y = y, x

In [83]:
x, y

(200, 100)

# 딕셔너리(Dictionary)
- key-value 쌍으로 관리 (key-value => item)
- key 는 중복될 수 없고 value 는 가능
- key로는 주로 문자열을 사용.

In [191]:
fruits = {"참외":20, "수박":10, "사과":15}
fruits, type(fruits)

({'참외': 20, '수박': 10, '사과': 15}, dict)

In [88]:
# 함수를 이용해 생성.
# dict(key = 값, key = 값, ...) # key는 변수형식으로 지정.
person = dict(name = '정원구', age= 27, address= '서울')
person

{'name': '정원구', 'age': 27, 'address': '서울'}

In [192]:
# 조회/변경
fruits['수박'], fruits['사과']

(10, 15)

In [193]:
fruits['수박'] = 50
fruits

{'참외': 20, '수박': 50, '사과': 15}

In [194]:
fruits['귤'] = 30 #없는 값 대입
fruits

{'참외': 20, '수박': 50, '사과': 15, '귤': 30}

In [195]:
# fruits['배']

In [196]:
fruits.get("사과") # 조회 메소드

15

In [197]:
print(fruits.get('배'))

None

In [198]:
print(fruits.get("배", 0)) # 조회하는 key가 없으면 0(기본값) 반환

0

In [199]:
person

{'name': '정원구', 'age': 27, 'address': '서울'}

In [200]:
"정원구" in person

False

In [201]:
'name' in person # in, not in 연산자는 key값의 유무

True

# 딕셔너리 메소드

In [202]:
fruits.pop('귤') #지우면서 값을 반환

30

In [203]:
del fruits['사과']
print(fruits)

{'참외': 20, '수박': 50}

# set
- 중복을 허용하지 않는다.
- 순서가 없다. => 원소의 식별자(index)가 없다.

In [122]:
s1 = {1, 2, 3, 4}
print(type(s1))
s1

<class 'set'>

{1, 2, 3, 4}

In [123]:
s2 = {1, 1, 1, 2, 2, 2, 5, 5}
s2

{1, 2, 5}

In [125]:
# s2[0] # set은 원소 하나씩 조회가 안됨

In [126]:
s1

{1, 2, 3, 4}

In [127]:
s2

{1, 2, 5}

In [128]:
s1|s2

{1, 2, 3, 4, 5}

In [129]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [130]:
s1 & s2

{1, 2}

In [131]:
s1.intersection(s2)

{1, 2}

In [132]:
s1 - s2

{3, 4}

In [133]:
s1.difference(s2)

{3, 4}

# 자료구조 변환함수
- list(변경할 대상)  : list 로 변환
- tuple(변경할 대상) : tuple로 변환
- set(변경할 대상) : set으로 변환

- 딕셔너리로 변환하는 함수는 없다(key값이 없기 때문)
- 변경대상이 딕셔너리인 경우 key값들만 모아 변환한다.

In [134]:
t = 1, 2, 3, 4, 5
t

(1, 2, 3, 4, 5)

In [135]:
list(t)

[1, 2, 3, 4, 5]

In [137]:
l = list(t)
l[0] = 100
l

[100, 2, 3, 4, 5]

In [138]:
t = tuple(l)
t

(100, 2, 3, 4, 5)

In [139]:
l = [1,1,1,2,2,2,4]
set(l)

{1, 2, 4}

In [212]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 

# 위는 1번 ~ 10번까지 10명의 시험 점수이다.

In [141]:
#(1)  7번의 점수를 출력하시오 
jumsu[6]

80

In [142]:
#(2)  1번부터 5번까지의 점수를 출력하시오.
jumsu[0:5]

[100, 90, 100, 80, 70]

In [143]:
#(3)  4, 5, 6, 7번의 점수를 출력하시오.
jumsu[3:7]

[80, 70, 100, 80]

In [216]:
#(4) 짝수번째 점수를 출력하시오.
jumsu[1::2]

[90, 80, 100, 90, 85]

In [217]:
#(5) 홀수번째 점수를 출력하시오.
jumsu[::2]

[100, 100, 70, 80, 95]

In [147]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하시오.
jumsu[8] = 20
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [148]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하시오.
set(jumsu)

{20, 70, 80, 85, 90, 100}

In [218]:
#(8)본인의 이름, 나이, email주소, 취미, 결혼유무를 딕셔너리으로 생성. 
# 취미는 2개 이상의 값을 넣는다..

dic = {'이름':'정원구', '나이':27, 'email': 'wongu3828@naver.com', '취미':['축구', '농구'], '결혼유뮤':'False'}
dic

{'이름': '정원구',
 '나이': 27,
 'email': 'wongu3828@naver.com',
 '취미': ['축구', '농구'],
 '결혼유뮤': 'False'}

In [215]:
#(9) 위 딕셔너리에서 이름과 email주소를 조회해서 출력
print(dic['이름'], dic['email'])
print(dic.get('이름'), dic.get('email'))

정원구 wongu3828@naver.com
정원구 wongu3828@naver.com

In [219]:
#(10) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력
print(dic['취미'][1])

농구

In [221]:
h1, h2 = dic['취미']
print(h1, h2)

축구 농구