In [1]:
# 함수 정의
def greeting(): # 선언부 - 사용법(호출하는 입장에서)
    #구현부 - 함수가 호출 됐을 때 실행할 명령문들
    print("안녕하세요.")
    print("반갑습니다.")

In [2]:
# 호출 : 이름([값, ....])
greeting()

안녕하세요.
반갑습니다.

# 함수의 매개변수(Parameter)

In [11]:
def greeting2(name):
    print(name+"님 안녕하세요ㅎㅎ")

In [12]:
greeting2("원구")

원구님 안녕하세요ㅎㅎ

In [15]:
def plus(num1, num2, num3):
    print("{} + {} + {} = {}".format(num1, num2, num3, num1+num2+num3))

In [25]:
plus(1,2,3)

1 + 2 + 3 = 6

In [28]:
# 리턴값(함수가 처리가 끝나고 반환해주는 결과값)
# return 반환값 - return: 호출한 곳으로 돌아가라. 반환값이 있으면 그 값을 가지고 돌아가라
# 반환값을 생략하면 None이 반환
# 반환값이 없을 경우(None) return 구문 생략할 수 있다.

def plus2(num1, num2, num3):
    result = num1+num2+num3
    return result # return 반환값

In [29]:
plus2(10, 30,40)

80

In [30]:
# 반환값이 여러개인 경우. => 자료구조로 묶어서 반환(반환값은 1개만 가능하기 때문에)
def calculate(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
 #   return r1, r2, r3, r4 #튜플로 묶어주는 것
    return [r1, r2, r3, r4] #리스트

In [36]:
v1, v2, v3, v4 = calculate(10,20)
print(v1,v2, v3, v4)
print(type(v1))

30 -10 200 0.5
<class 'int'>

In [35]:
v = calculate(10, 20)
print(type(v))
print(v)

<class 'tuple'>
(30, -10, 200, 0.5)

In [37]:
def calculate2(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
    return {
        "덧셈" : r1, "뺄셈":r2, "곱셈":r3, "나눗셈":r4
        
    }

In [40]:
d = calculate2(20, 10)
d['덧셈']

30

In [55]:
# 기본값이 있는 매개변수(Parameter)

# age=0 호출할때 전달 값이 있으면 그 값이 대입되고 없으면 age는 0을 기본으로 사용
# 기본값이 있는 매개 변수 뒤에는 일반 매개변수(기본값 없는)는 선언할 수 없다.

def printinfo(id, name, age=0, address = None, hobby = []): 
    print(id, name, age, address, hobby)

In [56]:
printinfo("wongu", "정원구")

wongu 정원구 0 None []

In [57]:
printinfo('wongu', '정원구', 20)

wongu 정원구 20 None []

In [58]:
printinfo('info', '원구', '서울') # 서울=>age 값에 대입됨

info 원구 서울 None []

In [61]:
printinfo('id4', '홍하영',0, None, ['독서', '음악감상'])

id4 홍하영 0 None ['독서', '음악감상']

In [62]:
# 키워드 인수(Keyword argument) - 호출할 때 매개변수 명을 지정해서 값 전덜
printinfo("id4", "홍하영", hobby = ['축구', '농구'])

id4 홍하영 0 None ['축구', '농구']

In [64]:
printinfo(age=27, address="목포", name="원구", id='wongy')

wongy 원구 27 목포 []

In [66]:
# 디폴트 값이 포함된 값 뒤에 다른 변수 설정x
# def f(x, y, z=None, k): 
   # pass

In [67]:
x = 10
if x ==10:
    pass

In [81]:
# 가변인수
# *변수 - 0 ~n개의 전달값을 튜플로 묶어서 받는다.
def sum_nums(*num_list):
    print(type(num_list))
    result = 0
    for num in num_list:
        result += num
    return result

In [87]:
l = [1,2,3,4,5,6,7,8,9]
v = sum_nums(*l) #리스트(튜플)의 원소들을 가변인자로 전달. *리스트, *튜플
print(v)

<class 'tuple'>
45

In [82]:
v = sum_nums(1, 2, 3 , 4, 5)
print(v)

<class 'tuple'>
15

In [84]:
v = sum_nums(4, 5, 15, 2, 44)
v

<class 'tuple'>

70

In [85]:
v = sum_nums(1, 2, 3, 4, 5)
print(v)
v = sum_nums(1, 2, 3)
print(v)

<class 'tuple'>
15
<class 'tuple'>
6

In [88]:
# 가변인수 : **변수명 
# - 호출할 때 keyword 인수 형태로 전달하고 가변인수는 전달된 값을 dictionary로 처리한다.
# 값의 개수는 제한없다.

In [89]:
def personinfo(**info):
    print("ID:", info.get('id'))
    print("이름:", info.get('name'))
    print("나이:", info.get('age'))
    print(type(info))
    print(info)

In [91]:
personinfo(id='wongu', name = '원구', age=27, address="서울")

ID: wongu
이름: 원구
나이: 27
<class 'dict'>
{'id': 'wongu', 'name': '원구', 'age': 27, 'address': '서울'}

In [92]:
info = {'id': 'wongu', 'name': '원구', 'age': 27, 'address': '서울'}
personinfo(**info) # dictionary의 item(key-value)를 키워드 인수형식으로 만들어 호출

ID: wongu
이름: 원구
나이: 27
<class 'dict'>
{'id': 'wongu', 'name': '원구', 'age': 27, 'address': '서울'}

In [93]:
# 가변인자는 하나의 함수에 한개씩만 쓸 수 있다.
# 가변인수는 일반 매개변수 다음에 선언해야 한다.
# 변수명(관례): *args, **kwargs(키워드)
def a(k, n, *x, **y):
    pass

In [94]:
a(1,2,3,4,5,6,7, a=10, b=24)

# 함수는 일급시민객체(First Class Citizen object)
- 일급시민객체
    - 변수에 대입 가능
    - 함수 호출시 매개변수로 전달할 수 있어야 한다,
    - 함수의 반환값으로 사용할 수 있어야 한다.

In [95]:
def hello(name):
    print(name+" 안녕하세요.")

In [96]:
hello("원구")

원구 안녕하세요.

In [97]:
my_hello = hello

In [98]:
hello("순신")

순신 안녕하세요.

In [101]:
calc = calculate(1, 3) # 호출. calc:calculate(1,3)의 반환값
calc

(4, -2, 3, 0.3333333333333333)

In [107]:
calc = calculate # 함수자체를 calc변수에 대입(함수에 새 이름 추가)
calc(2, 4)

(6, -2, 8, 0.5)

In [122]:
# 값은 있는데 함수가 없어서 함수를 불러줌
def calculate3(func):
    num1 = 10
    num2 = 20
    result = func(num1, num2)
    print(result)

In [123]:
def plus(n1, n2):
    return n1+n2

In [124]:
calculate3(plus)

30

In [125]:
func = plus
func(10, 20)

30

In [126]:
def minus(n1, n2):
    return n1-n2
calculate3(minus)

-10

# 람다식,함수(Lambda)
- 단일 구문으로 표현하는 익명의 함수
- 익명함수 : 이름없이 구현만 가지고 있는 함수
- 일회성 함수를 만들 때 사용한다.

- 구문
```python
# [] 생략가능
lambda [매개변수] : 명령문
```

- 명령문 : 하나의 명령문만 가능. 반환값이 있어야 한다.(명령문이 반환하는 값을 람다함수가 반환한다.)

In [127]:
def minus(n1, n2):
    return n1-n2

In [128]:
fun = lambda n1, n2 : n1-n2
fun(1,2)

-1

In [129]:
(lambda x:x*20)(10)

200

In [130]:
minus

In [132]:
calculate3(lambda x, y:x-y)

-10

In [136]:
calculate3(lambda x, y:x*y)

200

In [139]:
str_list = ['aaaa', 'bb', 'ccccccc', 'dd']
str_list.sort
str_list

['aaaa', 'bb', 'ccccccc', 'dd']

In [142]:
str_list = ['aaaa', 'bb', 'ccccccc', 'dddasdfasdf']
str_list.sort(key=lambda x:len(x))# key =함수 함수가 반환하는 숫자순서로 정렬
str_list

['bb', 'aaaa', 'ccccccc', 'dddasdfasdf']

- filter(함수, 리스트) : 리스트 내 원소들 중 특정 조건을 만족하는 것들만 걸러내는 함수.
                       : 원소 하나 하나를 함수에 전달해 True를 반환하는 것만 남긴다.
                       : 결과를 미리 만들어놓고 있지 않는다

- map(함수, 리스트) : 리스트 내 원소들을 처리해서 변형된 결과를 Iterable로 반환

In [149]:
num_list = list(range(1,60))
even_list = filter(lambda x :x%2==0, num_list)
list(even_list) #Iterable 타입(제너레이터-range())
# list(even_list)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58]

In [146]:
for i in even_list:
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [152]:
[num for num in num_list if num%2==0] # = list(even_list)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58]

In [157]:
m = map(lambda x:x*200, num_list)
list(m)

[200,
 400,
 600,
 800,
 1000,
 1200,
 1400,
 1600,
 1800,
 2000,
 2200,
 2400,
 2600,
 2800,
 3000,
 3200,
 3400,
 3600,
 3800,
 4000,
 4200,
 4400,
 4600,
 4800,
 5000,
 5200,
 5400,
 5600,
 5800,
 6000,
 6200,
 6400,
 6600,
 6800,
 7000,
 7200,
 7400,
 7600,
 7800,
 8000,
 8200,
 8400,
 8600,
 8800,
 9000,
 9200,
 9400,
 9600,
 9800,
 10000,
 10200,
 10400,
 10600,
 10800,
 11000,
 11200,
 11400,
 11600,
 11800]

In [158]:
[num*200 for num in num_list]

[200,
 400,
 600,
 800,
 1000,
 1200,
 1400,
 1600,
 1800,
 2000,
 2200,
 2400,
 2600,
 2800,
 3000,
 3200,
 3400,
 3600,
 3800,
 4000,
 4200,
 4400,
 4600,
 4800,
 5000,
 5200,
 5400,
 5600,
 5800,
 6000,
 6200,
 6400,
 6600,
 6800,
 7000,
 7200,
 7400,
 7600,
 7800,
 8000,
 8200,
 8400,
 8600,
 8800,
 9000,
 9200,
 9400,
 9600,
 9800,
 10000,
 10200,
 10400,
 10600,
 10800,
 11000,
 11200,
 11400,
 11600,
 11800]

In [156]:
def aaaa(x):
    return x*200

In [160]:
# num_list 홀수 *100  --> 걸러낸 다음에 처리
m1 = map(lambda x:x*100, filter(lambda x:x%2!=0, num_list))
list(m1)

[100,
 300,
 500,
 700,
 900,
 1100,
 1300,
 1500,
 1700,
 1900,
 2100,
 2300,
 2500,
 2700,
 2900,
 3100,
 3300,
 3500,
 3700,
 3900,
 4100,
 4300,
 4500,
 4700,
 4900,
 5100,
 5300,
 5500,
 5700,
 5900]

In [164]:
# docsting : 함수에 대한 설명
# 함수의 구현부의 첫번째에 여러줄 문자열로 작성한다.

# 함수 매개변수/리턴타입에 대한 힌트(주석)
def printinfo(id:"아이디-str", name:str, age:int, address=None)->"리턴값 주석":
    """설명
    매개변수 설명
    리턴값 설명
    예제"""
    return f'{id}, {name}, {age}, {address}'

In [ ]:
# tab :자동완성
# shift + tab, tab

In [165]:
?printinfo

In [ ]:
name = 'abc'
print(name)

In [ ]:
printinfo

In [21]:
# 1. 사용자가 입력한 단의 구구단을 출력하는 함수를 구현

dan = int(input("단을 입력하세요 : "))
num = [1,2,3,4,5,6,7,8,9]
#("%d x %d = %d" %(dan, d2, dan * d2))

def gu(dan, d2):
    
    result = dan*d2
    for num in range(1, 10):
        d2 += 1
        return result
gu(dan, d2)

단을 입력하세요 : 5

TypeError: can only concatenate tuple (not "int") to tuple

In [4]:
# 2. 시작 정수, 끝 정수를 받아 그 사이의 모든 정수의 합을 구해서 반환하는 함수를 구현

# d = end  start # 1과 10을 입력받았다면 10-1, 9-1반복해서 1과 같아질때 멈추고 리스트를 생성하여 넣을 수 있게append
start = int(input("시작하는 수를 입력해주세요 : "))
end = int(input("끝나는 수를 입력해주세요 : "))

def func_sum(start, end):
    
    result = 0
    for num in range(start, end+1):
        result += num
    return result

func_sum(start, end)

시작하는 수를 입력해주세요 : 1
끝나는 수를 입력해주세요 : 5

15

In [ ]:
# 3. 1번 문제에서 시작을 받지 않은 경우 0을, 끝 정수를 받지 않으면 10이 들어가도록 구현을 변경

In [16]:
# 4. 체질량 지수(體質量指數, Body Mass Index, BMI)는 비만도를 나타내는 지수로 키가 a미터 이고 몸무게가 b kg일때 b/a**2 로 구한다.
# 체질량 지수가
#- 18.5 미만이면 저체중
#- 18.5이상 25미만이면 정상 
#- 25이상이면 과체중
#- 30이상이면 비만으로 하는데
#몸무게와 키를 매개변수로 받아 비만인지 과체중인지 반환하는 함수를 구현하시오.

h = float(input("키를 입력하세요 : ")) # 입력 방식 : 1.74m(=174cm)
k = int(input("몸무게를 입력하세요 : "))
m = k/h**2

if m < 18.5:
    print("저체중")
elif m >18.5 and m < 25:
    print("정상")
elif m >25:
    print("과체중")
else:
    print("비만")
print(m)

키를 입력하세요 : 1.74
몸무게를 입력하세요 : 75
정상
24.772096710265558

In [179]:
# 람다식
#5. filter를 이용해 다음 리스트에서 양수만 추출히 리스트를 구현
ex1 = [1, -10, -2, 20, 3, -5, -7, 21]
pn = filter(lambda x:x>0, ex1)
list(pn)

[1, 20, 3, 21]

In [185]:
#6. filter와 map을 이용해 다음 리스트에서 음수만 추출한 뒤 그 제곱한 값들을 가지는 리스트를 구현
ex2 = [1, -10, -2, 20, 3, -5, -7, 21]
mn = map(lambda x:x**2, filter(lambda x:x<0, ex2))
list(mn)

[100, 4, 25, 49]